@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.loading {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  gap: 2px;
  padding-left: 70px;
  user-select: none;
}

.loading span {
  display: inline-block;
  animation: loadingAnimation 1.2s infinite alternate;
}

@keyframes loadingAnimation {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
  }
}
@media (max-width: 576px) {
  .loading {
    margin-left: 30px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .loading {
    font-size: 12px;
    padding-left: 50px;
  }
}
