.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  margin-top: 50px;
  padding: 50px;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.card {
  height: 200px;
  padding: 20px;
  background-color: #f0f4f9;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow-y: scroll;
}

.card img {
  width: 35px;
  background-position: center;
  padding: 2px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.card p {
  font-size: 17px;
  color: #585858;
}

.card:hover {
  background-color: #dfe4ea;
}

.message {
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-msg {
  margin-left: auto;
}

.bot-msg {
  margin-right: auto;
  background-color: white;
}

.chat-container {
  max-height: 80vh;
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-container::-webkit-scrollbar-track {
  background: transparent;
}

.titleheading {
  font-size: 60px;
  font-weight: 500;
  background: linear-gradient(to right, #29323c, #72879d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the text transparent so the gradient shows through */
  font-weight: bold;
}

.bottomchat {
  background: linear-gradient(to bottom, transparent, white 20%);
}
.inputBox {
  width: 100%;
  z-index: 999999;
}

@media (max-width: 1200px) {
  .cards {
    padding: 30px;
  }

  .titleheading {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    height: 180px;
  }

  .titleheading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .cards {
    padding: 20px;
    max-height: 50vh;
    overflow-y: scroll;
  }

  .card {
    height: 160px;
  }

  .titleheading {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 25px;
    font-size: 5px;
    overflow-y: scroll;
  }

  .card {
    height: 120px;
  }

  .titleheading {
    font-size: 20px;
    margin-top: 30px;
  }
  .tiltesub {
    font-size: 15px;
  }
  .card p {
    font-size: 12px;
  }
  .card img {
    width: 25px;
  }
  .inputBox {
    width: 80%;
    font-size: 12px;
    border: 1px solid rgb(16, 118, 234);
    border-radius: 25px;
  }
  .user-msg {
    font-size: 8px;
  }
  .botText {
    font-size: 12px;
  }
  .chat-container {
    max-height: 70vh;
    margin-top: 20px;
  }
  .message {
    margin-left: 25px;
  }
  .message img {
    width: 25px;
    height: 25px;
  }
}
