@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#root {
  display: flex;
  min-height: 100vh;
}
::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
